<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />

    <title>Document</title>
</head>

<body>


    <!-- <label for="start">Start date:</label>

        <input type="month" id="start" name="trip-start"
            value="2002-01"
            min="2010-01" max="2030-12"> -->


    <div class="container">
        <div class="form-group">
            <button type="button" class="btn btn-primary mr-2" onclick=agregarFila()>Agregar Columna</button>
            <button type="button" class="btn btn-danger" onclick=eliminarFila()>Eliminar Columna</button>
        </div>
        <!--<label for="start">Start date:</label> -->

        <input type="month" id="start" name="trip-start" value="2002-01" min="2010-01" max="2030-12">

        <table class="table" id="table">

            <thead>

                <tr id="headTable">
                    <th scope="col">Id Presupuesto</th>

                    <!-- fecha Dinamico -->
                    <!-- <th scope="col">Fecha 1</th>
                    <th scope="col">Fecha 2</th>
                    <th scope="col">Fecha 3</th> -->
                    <!-- fecha Dinamico -->

                    <th scope="col" id="columFinal">SUMATORIA TOTAL</th>
                </tr>


            </thead>


            <tbody>

                <tr id="bodyColINGRESOS">
                    <th scope="col"> INGRESOS </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumINGRESOS"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColEGRESOS">
                    <th scope="col"> EGRESOS </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumEGRESOS"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColTOTAL">
                    <th scope="col"> TOTAL </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumTOTAL"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColTOTAL_ACUMULADO">
                    <th scope="col"> TOTAL ACUMULADO </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumTOTAL_ACUMULADO"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>

            </tbody>



        </table>
        <br>






        <table class="table" id="table">

            <thead>

                <tr id="headTable2">
                    <th scope="col">Mes</th>

                    <!-- fecha Dinamico -->
                    <!-- <th scope="col">Fecha 1</th>
                    <th scope="col">Fecha 2</th>
                    <th scope="col">Fecha 3</th> -->
                    <!-- fecha Dinamico -->

                    <th scope="col" id="columFinal2">SUMATORIA TOTAL</th>
                </tr>


            </thead>


            <tbody>

                <tr id="bodyColINGRESOS2">
                    <th scope="col"><input placeholder="concepto1"></th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumINGRESOS2"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColEGRESOS2">
                    <th scope="col"><input placeholder="concepto2"> </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumEGRESOS2"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColTOTAL2">
                    <th scope="col"> TOTAL </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumTOTAL2"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>
                <tr id="bodyColTOTAL_ACUMULADO2">
                    <th scope="col"> TOTAL ACUMULADO </th>
                    <!-- datos dinamicos -->
                    <!-- <td> datos  </td>
                    <td> datos  </td>
                    <td> datos  </td> -->
                    <td scope="col" id="ultColumnSumTOTAL_ACUMULADO2"> datos sumatoria</td>
                    <!-- datos dinamicos -->
                </tr>

            </tbody>


        </table>






    </div>






    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="./js/tabla.js"></script> -->
</body>

</html>